$color-primary: #1E213A;
$color-secundary: #100E1D;
$color-grey:  #6E707A;

$font:  'Raleway', sans-serif;

@function porcentaje($width){
    @return  $width * 100%/1440;
 };
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: $font;
}

